html, body {
    margin: 0; /* デフォルトのマージンをリセット */
    padding: 0; /* デフォルトのパディングもリセット */
    height: 100%; /* ページ全体の高さを確保 */
}

body {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,0.85);
    background-color: #2C6B6A;
    border: 11px solid #a60; /* ボーダーの太さと色 */
    box-sizing: border-box; /* ボーダーを含めた幅と高さを計算 */
}

.list-title{
    margin-left: 1.5rem;
}

.list-contents{
    display: grid; /* グリッドレイアウトを使用 */
    grid-template-columns: repeat(2, 1fr); /* 2列に配置 */
    gap: 1rem; /* 要素間のスペースを設定 */
    padding-top: 3rem;
    margin-left: 2rem;
}

.list-contents a{
    color: rgba(255,255,255,0.85);
}

.list-contents a:hover{
    color: #FFBBFF;
}

.back-button {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.85);
    text-align: center;
}

.back-button:hover {
    color: #FFBBFF;
    border-color: #FFBBFF;
}

