@media (min-width: 800px) {
    /* 見出し */
    .page-title {
        font-size: 5rem;
    }
    .heading-large {
        font-size: 4rem;
    }
    .post-title {
        font-size: 2rem;
    }

    /* ヘッダー */
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }

    .logo{
        width: 300px;
    }


    .main-nav a{
        font-size: 2rem;
    }

    /* ヘッダーカバー画像 */
    .sub-cover {
        height: 600px;
        margin-bottom: 6rem;
    }

    
    .cover-contact {
        background-image: url(./exam.JPG);
    }
    .location {
        display: flex;
        gap: 2rem;
    }
    .location-info {
        width: 32%;
    }
    .location-info .info th {
        padding-left: 2rem;
    }
    .location-map {
        width: 64%;
    }
    .challenge {
        margin-bottom: 4rem;
    }
    .sns {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 0;
    }
    .sns-item {
        flex: 1;
    }

    /* フッター */
    .page-footer {
        padding-top: 8rem;
    }
}

label.d-block {
    margin-left: 30px; /* インデントの量を調整 */
  }
  
